.breadcrumb {
  display: flex;
  justify-content: center;
  margin-block-end: var(--sp-s);
  font-size: var(--fs-xs);
  color: var(--clr-text);

  ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0;
    padding: 0;
    list-style: none;

    background-color: var(--clr-border-dark);
    border: 1px solid
      light-dark(
        color-mix(in oklab, var(--clr-bg-dark), var(--clr-text) 10%),
        color-mix(in oklab, var(--clr-bg-dark), var(--clr-text) 30%)
      );
    border-radius: var(--radius);
    corner-shape: squircle;
    overflow: clip;
  }

  li {
    --c-padding-y: 0.35em;
    --c-padding-x: 1em;

    background-color: var(--clr-bg-dark);
    margin-inline-start: calc(2px - var(--breadcrumb-arrow));

    border-shape: polygon(
      0% 0%,
      calc(100% - var(--breadcrumb-arrow)) 0%,
      100% 50%,
      calc(100% - var(--breadcrumb-arrow)) 100%,
      0% 100%,
      var(--breadcrumb-arrow) 50%
    );

    > a:any-link {
      transition: background-color 0.2s ease;
    }

    > a:any-link,
    &:not(&:has(> a:any-link)) {
      display: block;
      min-block-size: 1.5rem;
      color: inherit;
      text-decoration: none;

      padding: var(--c-padding-y) calc(var(--c-padding-x) + var(--breadcrumb-arrow) / 2)
        var(--c-padding-y) calc(var(--c-padding-x) + var(--breadcrumb-arrow));
    }

    > a:any-link:focus-visible {
      --focus-color: currentcolor;
      outline: 2px solid var(--focus-color);
      outline-offset: -4px;
      border-radius: var(--radius-button);
      corner-shape: squircle;
    }

    &:has(> a:any-link) {
      @media (pointer: fine) {
        &:hover,
        &:has(> a:focus-visible) {
          background-color: var(--clr-secondary);
          color: var(--clr-text-opposite);
        }
      }
    }

    &:first-child {
      margin-inline-start: 0;

      border-shape: polygon(
        0% 0%,
        calc(100% - var(--breadcrumb-arrow)) 0%,
        100% 50%,
        calc(100% - var(--breadcrumb-arrow)) 100%,
        0% 100%
      );

      > a:any-link {
        padding-inline-start: var(--c-padding-x);
      }
    }

    &:last-child {
      border-shape: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, var(--breadcrumb-arrow) 50%);
    }

    &[aria-current] {
      background-color: var(--clr-shade-dark);
    }
  }
}
