:is([class|='button'], button[type='submit']) {
  --button-bg: transparent;
  --button-scheme: var(--color-scheme, var(--clr-primary));
  --button-color: var(--button-scheme);
  --button-border: var(--button-scheme);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding-block: 0.5rem;
  padding-inline: 1rem 0.875rem;
  border: 2px solid var(--button-border);
  border-radius: var(--radius-button-s);
  background-color: var(--button-bg);
  color: var(--button-color);
  font: inherit;
  font-size: clamp(1rem, 0.4vw + 0.95rem, 1.25rem);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  text-decoration: none;
  cursor: pointer;
  transition:
    color 120ms var(--ease-drawer-transform),
    background-color 120ms var(--ease-drawer-transform),
    border-color 120ms var(--ease-drawer-transform);

  i {
    font-size: 1.2em;
  }

  &[data-icon-position='right'] {
    flex-direction: row-reverse;
  }

  &.button-primary {
    --button-bg: var(--button-scheme);
    --button-color: var(--clr-text-bright);
    --button-border: var(--button-scheme);
  }

  @media (pointer: fine) {
    &:is(:hover, :focus-visible) {
      --button-bg: color-mix(in srgb, var(--button-scheme) 15%, transparent);
      --button-color: var(--button-scheme);
      --button-border: var(--button-scheme);
    }

    &.button-primary:is(:hover, :focus-visible) {
      --button-bg: color-mix(in srgb, var(--button-scheme) 88%, var(--clr-bg-light) 12%);
      --button-color: var(--clr-text-bright);
      --button-border: var(--button-scheme);
    }
  }
}
