# Kirby
/kirby
/site/cache/*
!/site/cache/index.html
/site/config/.license
/site/sessions/*
!/site/sessions/index.html
/site/plugins/*
!/site/plugins/.gitkeep
/media/*
!/media/index.html

# Composer
/vendor
composer.lock

# Node
node_modules
pnpm-lock.yaml

# Vite
/dist
.dev

# Environment
.env

# Development
.DS_Store
.idea
*.log

# Test coverage
coverage
