# Kirby
/kirby
/site/cache/*
!/site/cache/index.html
/site/config/.license
/site/sessions/*
!/site/sessions/index.html
/site/accounts/*
!/site/accounts/.gitkeep
/site/plugins/*
!/site/plugins/.gitkeep
!/site/plugins/technikwuerze/
!/site/plugins/technikwuerze/**
/media/*
!/media/index.html
/public/media/*
/public/site/
/public/content/

# Content - separate Git repository
/content

# Composer
/vendor
composer.lock

# Node
node_modules

# Vite
/dist
/public/dist/
.dev

# Environment
.env

# Development
.DS_Store
.idea
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
/.sqlite/

# Test coverage
coverage
