{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "phpVersion": "8.2",
        "trailingCommaPHP": true,
        "braceStyle": "psr-2",
        "tabWidth": 2
      }
    }
  ]
}
