:is([class^='msi-'], [class*=' msi-']) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Material Symbols Outlined Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24;
}

:is([class^='msi-'], [class*=' msi-'])::before {
  content: var(--msi-icon, '');
}

.msi-dark-mode {
  --msi-icon: 'dark_mode';
}

.msi-light-mode {
  --msi-icon: 'light_mode';
}

.msi-routine {
  --msi-icon: 'routine';
}

.msi-menu {
  --msi-icon: 'menu';
}

.msi-close {
  --msi-icon: 'close';
}
