*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--header-size);
}

body {
  font-family: var(--ff);
  font-feature-settings: 'wght' var(--fw);
  background-color: var(--clr-surface);
  color: var(--clr-text);
  line-height: var(--lh);

  margin: 0;
  padding-block-start: calc(var(--header-size) + var(--sp));

  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  &:has(.main-nav-button[aria-expanded='true']) {
    --c-blur: 10px;

    overflow: hidden;
    transition: backdrop-filter 120ms var(--ease-drawer-transform);

    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      z-index: 19;
      backdrop-filter: blur(var(--c-blur));
    }

    .website-title {
      filter: blur(var(--c-blur));
    }
  }
}

:is(input, select, textarea) {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--clr-surface);
  color: var(--clr-text);
  line-height: var(--lh);
  overflow-y: scroll;
}

main {
  flex: 1;
  inline-size: 100%;
  max-inline-size: var(--content-max-size);
  margin-inline: auto;
  padding-inline: var(--sp-content);
}

p {
  margin-block: 0 var(--sp);
}

.section-title {
  color: var(--clr-primary);
  text-align: center;
  font-family: var(--ff-brand);
  font-size: clamp(2.1rem, 7vw, 5rem);
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.1rem;
  margin-block: 0 0.5em;
}
