*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--header-size);
}

body {
  font-family: var(--ff);
  font-feature-settings: 'wght' var(--fw);
  background-color: var(--clr-surface);
  color: var(--clr-text);
  line-height: var(--lh);

  margin: 0;
  padding-block-start: calc(var(--header-size) + var(--sp));

  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  &:has(#main-nav [aria-expanded='true']) {
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      z-index: 19;
    }
  }
}

:is(input, select, textarea) {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--clr-surface);
  color: var(--clr-text);
  line-height: var(--lh);
  overflow-y: scroll;
}

main {
  flex: 1;
  inline-size: 100%;
  max-inline-size: var(--content-max-size);
  margin-inline: auto;
  padding-inline: var(--sp-content);
}

p {
  margin-block: 0 var(--sp);
}
