*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--header-size);
}

body {
  font-family: var(--ff);
  font-feature-settings: 'wght' var(--fw);
  background-color: var(--clr-surface);
  color: var(--clr-text);
  line-height: var(--lh);

  margin: 0;
  padding-block-start: calc(var(--header-size) + var(--sp));

  &:has(#main-nav [aria-expanded='true']) {
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      z-index: 19;
    }
  }
}

:is(input, select, textarea) {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--clr-surface);
  color: var(--clr-text);
  line-height: var(--lh);
  overflow-y: scroll;
}

main {
  max-width: var(--main-max-width);
  margin: var(--main-margin);
  padding: 0 var(--main-padding-inline);
}
