*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--header-size);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
  line-height: var(--lh);
  font-feature-settings: 'wght' var(--fw);

  background-color: var(--clr-surface);
  color: var(--clr-text);
  margin: 0;
  padding-block-start: calc(var(--header-size) + var(--sp));

  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  &:has(.main-nav-button[aria-expanded='true']) {
    --c-blur: 10px;

    overflow: hidden;
    transition: backdrop-filter 120ms var(--ease-drawer-transform);

    @media (width < 64em) {
      &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        z-index: 19;
        backdrop-filter: blur(var(--c-blur));
      }

      .website-title {
        filter: blur(var(--c-blur));
      }
    }
  }
}

:is(input, select, textarea) {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--clr-surface);
  color: var(--clr-text);
  line-height: var(--lh);
  overflow-y: scroll;
}

main {
  flex: 1;
  inline-size: 100%;
  max-inline-size: var(--content-max-size);
  margin-inline: auto;
  padding-inline: var(--sp-content);
  container: main / inline-size;
}
