:root {
  /* LAYOUT */
  --header-size: 5rem;
  --content-max-size: 77.5rem;

  /* TYPOGRAPHY */
  --ff: 'Manrope Variable', system-ui, -apple-system, sans-serif;
  --ff-brand: 'Bricolage Grotesque Variable', sans-serif;
  --ff-hand: 'Caveat Variable', cursive;

  --fw: 400;
  --fw-bold: 600;

  --lh: 1.4;

  /* COLORS */
  --clr-surface: light-dark(hsl(56 100% 79%), hsl(0 0% 18%));
  --clr-bg-light: light-dark(hsl(56 100% 91%), hsl(0 0% 45%));
  --clr-text: light-dark(hsl(0 0% 18%), hsl(0 0% 100%));
  --clr-text-bright: light-dark(hsl(0 0% 100%), hsl(0 0% 18%));
  --clr-primary: light-dark(hsl(129 100% 26%), hsl(56 100% 79%));
  --clr-secondary: light-dark(hsl(263 60% 50%), hsl(263 100% 82%));
  --clr-border: light-dark(hsl(0 0% 0% / 0.1), hsl(0 0% 100% / 0.1));
  --clr-shadow: light-dark(hsl(0 0% 0% / 0.25), hsl(0 0% 0% / 0.25));
  --clr-hover: light-dark(hsl(0 0% 0% / 0.1), hsl(0 0% 100% / 0.1));

  /* SPACING */
  --sp-xs: 0.5rem;
  --sp-s: 0.625rem;
  --sp: 1rem;
  --sp-m: 1.25rem;
  --sp-l: 1.875rem;
  --sp-content: max(1.875rem, 2vw);

  /* OTHER */
  --radius-button: 1.25rem;
  --radius-button-inner: 0.75rem;

  --podlove-player-margin-top: 1rem;

  --ease-drawer-transform: cubic-bezier(0.2, 0.8, 0.2, 1);
  --dur-drawer-transform: 280ms;
}

html[mode='dark'] {
  color-scheme: dark;
}

html[mode='light'] {
  color-scheme: light;
}

html[mode='system'] {
  color-scheme: light dark;
}
