:root {
  /* LAYOUT */
  --header-size: 5rem;
  --content-max-size: 80rem;
  --medium-max-size: 72rem;
  --narrow-max-size: 59rem;

  --max-lead: 55ch;

  /* TYPOGRAPHY */
  --ff: 'Manrope Variable', system-ui, -apple-system, sans-serif;
  --ff-brand: 'Bricolage Grotesque Variable', sans-serif;
  --ff-hand: 'Caveat Variable', cursive;

  --fw: 400;
  --fw-bold: 600;
  --fw-title: 800;

  /* vp-min: 500px, vp-max: 1000px */
  --fs: clamp(1.125rem, 0.875rem + 0.8vw, 1.375rem);
  --fs-s: clamp(0.875rem, 0.75rem + 0.4vw, 1rem);
  --fs-r: clamp(1rem, 0.875rem + 0.4vw, 1.125rem);
  --fs-m: clamp(1.5rem, 1rem + 1.6vw, 2rem);
  --fs-l: clamp(1.75rem, 1.125rem + 2.4vw, 3rem);
  --fs-title: clamp(2rem, -1rem + 9.6vw, 5rem);
  --fs-title-2nd: clamp(1.625rem, -0.75rem + 7.6vw, 5rem);
  --fs-title-3rd: clamp(1.5rem, -0.75rem + 7.2vw, 3.75rem);
  --fs-lead: clamp(1.1875rem, 0.9375rem + 0.8vw, 1.4375rem);

  --lh: 1.3;
  --lh-s: 1.2;

  /* COLORS */
  --clr-surface: light-dark(hsl(56 100% 79%), hsl(0 0% 18%));
  --clr-bg-light: light-dark(hsl(56 100% 91%), hsl(0 0% 23%));
  --clr-bg-dark: light-dark(hsl(56 65% 71%), hsl(0 0% 13%));
  --clr-bg-footer: light-dark(hsl(18 18% 18%), hsl(0 0% 23%));
  --clr-text: light-dark(hsl(0 0% 18%), hsl(0 0% 100%));
  --clr-text-bright: light-dark(hsl(0 0% 100%), hsl(0 0% 18%));
  --clr-primary: light-dark(hsl(129 100% 26%), hsl(56 100% 79%));
  --clr-secondary: light-dark(hsl(263 60% 50%), hsl(263 100% 82%));
  --clr-border: light-dark(hsl(0 0% 0% / 0.2), hsl(0 0% 100% / 0.2));
  --clr-border-bright: light-dark(hsl(0 0% 100% / 0.15), hsl(0 0% 0% / 0.1));
  --clr-shadow: light-dark(hsl(0 0% 0% / 0.25), hsl(0 0% 0% / 0.25));
  --clr-hover: light-dark(hsl(0 0% 0% / 0.1), hsl(0 0% 100% / 0.1));

  /* SPACING */
  --sp-xxs: 0.625rem;
  --sp-xs: 0.75rem;
  --sp-s: 1.25rem;
  --sp: 1.5rem;
  --sp-m: 1.875rem;
  --sp-l: 3.125rem;
  --sp-xl: 4rem;
  --sp-xxl: 6.5rem;
  --sp-content: 1.25rem;

  /* OTHER */
  --radius-button: 1.25rem;
  --radius-button-s: 0.75rem;
  --radius-button-xs: 0.625rem;
  --shadow-size: 0.5rem;

  --podlove-player-margin-top: 1rem;

  --transition-short: 90ms ease-out;

  --ease-drawer-transform: cubic-bezier(0.2, 0.8, 0.2, 1);
  --dur-drawer-transform: 280ms;

  @media (width >= 48em) {
    --sp-content: 1.5rem;
  }
}

html[mode='dark'] {
  color-scheme: dark;
}

html[mode='light'] {
  color-scheme: light;
}

html[mode='system'] {
  color-scheme: light dark;
}
